body {
    background-image: url("https://files.enderman.ch/wallpapers/Cloudy%20Mountain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10%
}

h1, p {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
}

a {
    font-family: 'Segoe UI';
    color: gold;
}

img {
    border-radius: 5px;
}