body {
    background-color: black;
}

h1, p {
    color: white;
    font-family: 'Segoe UI', 'Arial';
    text-align: center;
    
}

a {
    font-family: 'Segoe UI', 'Arial';
    color: red;
}

img {
    border-radius: 5px;
}
